# Google Cloud
GOOGLE_PROJECT_ID=phosboard
GCS_BUCKET_NAME=phosboard-documents

# For local development with Pub/Sub emulator
# PUBSUB_EMULATOR_HOST=localhost:8085

# Cloud Run port (automatically set by Cloud Run)
PORT=8080